annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
APScheduler==3.10.4
beautifulsoup4==4.14.3
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
cryptography==42.0.0
exceptiongroup==1.3.1
fastapi==0.109.0
frozendict==2.4.7
greenlet==3.2.4
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.25.2
idna==3.11
Jinja2==3.1.3
lxml==6.0.2
MarkupSafe==3.0.3
multitasking==0.0.12
numpy==1.26.3
pandas==2.2.0
peewee==3.19.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-telegram-bot==20.7
pytimeparse==1.1.8
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.25
starlette==0.35.1
twelvedata==1.2.28
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.27.0
uvloop==0.22.1
watchfiles==1.1.1
webencodings==0.5.1
websockets==15.0.1
yfinance==0.2.35
